<% provide(:title, 'Help') %>

<!DOCTYPE html>
<html>
	<head>
		<title>Trasplante Hepático | <%= yield(:title) %></title>
	</head>
	<body>
		<div class="center hero-unit">
		<h1>Ayuda</h1>
		<p></p>
		<p></p>
		<p></p>
		<p>
			Encontrará ayuda en ....
		</p>
	</body>
</html>


