<% provide(:title, 'Protocolos') %>


<!DOCTYPE html>
<html>
	<head>
		<title>Trasplante Hepático | <%= yield(:title) %></title>
	</head>
	<body>
		<div class="center hero-unit">
		
		<h1>Protocolos del Servicio de Anestesia</h1>
		
		<p></p>
		<p></p>
		<p></p>
		
		<p>
		<h1> Protocolo de Anestesia para Trasplante Hepático </h1>
		</p>
	</body>
</html>

